/*
Styling for the main div the widget sits inside
*/
#root {
    font-family: "open-sans", sans-serif;
    max-width: 100%;
    background-color: #616161;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    column-gap: 30px;
    color: white;
}
/*
styles for the label text
*/

label {
    font-weight: bold;
}

/*
Text box styling. for both text and number inputs
*/

input {
    height: 1.5rem;
    width: 7rem;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
}

/*
Submit button styling
*/
button {
    height: 2rem;
    width: 8rem;
    border-radius: 7px;
    border: none;
    background-color: #3164A1;
    color: white;
    font-weight: bold;
}

/*
cursor turns into a pointer in hover state over submit button
*/
button:hover {
    cursor: pointer;
}
